#navbar h1 {
    margin-right: 45%;
}
.form {
    display: none;
}
.container {
    width: 85%;
    height: 60%;
}
#btn{
    display: block;
}
.container1{
    height: 100%;
    width: 100%;
}
.section1{
    margin-top: 23%;
    margin-right: 79%;
    margin-left: -70%;
}
.section2{
    margin-left: -146%;
    padding-top: 100%;
}
.section2 h4{
    padding-bottom: 10%;
}
.section1 h4{
    padding-bottom: 15%;
}
.container img{
    width: 34vw;
    height: 36vh;
    margin-left: -9vw;
}
.lines{
    margin-top: -25vh;
    padding-left: 51%;
    font-size: 18px;
}
#btn1{
    display: block;
    margin-top: 25vh;
    width: 90%;
    height: 10%;
}